body{
  background-color: #2E3440;
  color:white;
  font-family:Segoe UI;
  text-align:center;
}
#navbar{
  text-align:left;
  background-color:#3B4252;
}
.navbar-button{
  font-weight:normal;
  padding:10px;
}
a{ 
  text-decoration : none; color : #D8DEE9;
}
