body{
  background-color: #2E3440;
  color:white;
}
#navbar{
  text-align:left;
  font-family:helvetica;
  background-color:#3B4252;
}
.navbar-button{ 
   padding:10px;
}
a{ 
  text-decoration : none; color : #D8DEE9;
}
